<div class="container" *ngIf="item$ | async as item">
  <div class="title-bar">
    <app-back-button [float]="false"></app-back-button>
    <span>Confirm Order</span>
  </div>
  <div class="content">
    <div class="address-bar">
      <img src="assets/icons/location.png" alt="" class="location" />
      <div class="name-and-mobile">
        <span class="name">
          EZReal
        </span>
        <span class="mobile">
          13888888888
        </span>
      </div>
      <div class="address">
        Demacia 777 Ave
      </div>
      <img src="assets/icons/navigate_next.png" alt="" class="more" />
    </div>
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <div class="shop">
      <img src="assets/icons/brand.png" alt="" />
      <span>XXX shop</span>
    </div>
    <div class="product-bar">
      <img
        [src]="item.variant.productVariantImages[0].imgUrl"
        alt=""
        class="product-image"
      />
      <span class="product-name">{{ item.variant.product.title }}</span>
      <div class="product-spec">Set：{{ item.variant.name }}</div>
      <div class="product-price">
        <span>{{ item.variant.price | currency }}/per</span>
        <span class="price-condition">Free Delivery</span>
      </div>
    </div>
    <app-product-amount
      [count]="item.count"
      (amountChange)="handleAmountChange($event)"
    ></app-product-amount>
    <app-payment [payments]="payments"></app-payment>
  </div>
  <div class="toolbar">
    <div class="total-price">
      <span>Total Cost：</span>
      <span class="price-section">{{ totalPrice$ | async | currency }}</span>
      <span class="price-condition">&nbsp;Free Delivery</span>
    </div>
    <div class="pay" (click)="handlePay()">
      <div>Pay</div>
    </div>
  </div>
</div>
  